views/test.html
<div class="list-group-item" id="32">
  <div class="row">
    <div class="col-sm-2">
      <img class="img-fluid" src="/fileIMG.png" alt="ikona" style="width:70px">
    </div>
    <div class="col-sm-9">
      <label class="row mt-2">fileXLS.png</label>
      <label class="row mt-2" style="font-size:12px">Naloženo: 30.09.2019 ob 12:15 Avtor: Janez Novak</label>
    </div>
    <div class="col-sm-1">
      <a class="btn btn-primary mt-3" href="/sendMeDoc?filename=1569838526338-fileXLS.png&amp;projectId=56">Prenos</a>
    </div>
  </div>
</div>
<div class="custom-control custom-checkbox table-custom-checkbox" id="taskCheckbox215">
  <input class="custom-control-input" id="customTaskCheck215" type="checkbox" onchange="toggleTaskCheckbox(this)">
  <label class="custom-control-label" for="customTaskCheck"> </label>
</div>
<div class="custom-control custom-checkbox table-custom-checkbox-task" id="173">
  <input class="custom-control-input" id="customTaskCheck173" type="checkbox" onchange="toggleTaskCheckbox(this)">
  <label class="custom-control-label" for="customTaskCheck173"> </label>
</div>
<html>
  <head></head>
  <body>
    <div class="multi-collapse task-collapse collapse show" id="collapseAddTask" data-select2-id="collapseAddTask">
      <hr/>
      <form id="editTaskform" role="form" method="post" data-select2-id="editTaskform">
        <div class="form-row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="taskNameAdd" style="width:100%">Ime opravila
                <input class="form-control" id="taskNameAdd" type="text" name="taskNameAdd" required=""/>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="taskDurationAdd" style="width:100%">Število dni
                <input class="form-control" id="taskDurationAdd" type="number" name="taskDurationAdd" min="0"/>
              </label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="taskStartAdd" style="width:100%">Začetek opravila
                <input class="form-control" id="taskStartAdd" type="date" name="taskStartAdd"/>
                <div class="valid-feedback">Začetek opravila je po začetku projekta</div>
                <div class="invalid-feedback">Začetek opravila je pred začetkom projekta!</div>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="taskFinishAdd" style="width:100%">Konec opravila
                <input class="form-control" id="taskFinishAdd" type="date" name="taskFinishAdd"/>
                <div class="valid-feedback">Konec opravila je pred koncem projekta</div>
                <div class="invalid-feedback">Konec opravila je po koncu projekta!</div>
              </label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="taskCompletionAdd" style="width:100%">Dokončano
                <input class="form-control" id="taskCompletionAdd" type="number" name="taskCompletionAdd" min="0" max="100" required=""/>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="taskAssignmentAdd" style="width:100%">Dodeli opravilo
                <select class="custom-select mr-sm-2 form-control select2-workersAdd" id="taskAssignmentAdd" name="worker" style="width:100%"></select>
              </label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="taskCategoryAdd" style="width:100%">Kategorija
                <select class="custom-select mr-sm-2 form-control select2-taskCategoryAdd" id="taskCategoryAdd" name="worker" style="width:100%"></select>
              </label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="taskPriorityAdd" style="width:100%">Prioriteta
                <select class="custom-select mr-sm-2 form-control select2-taskPriorityAdd" id="taskPriorityAdd" name="worker" style="width:100%"></select>
              </label>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="taskcAtiveAdd" type="checkbox" checked=""/>
            <label class="custom-control-label" for="taskActiveAdd">Opravilo je aktivno</label>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-success mt-1 mb-1" id="btnAddTask" type="submit">Dodaj</button>
        </div>
      </form>
    </div>
  </body>
</html>

<div class="modal-body">
  <div>Janez Novak:</div>
  <ul class="list-group mb-2">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <strong>Projekt A</strong> na opravilu <strong>a</strong> v času <strong>dd.mm.yyyy - dd.mm.yyyy</strong>.
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <strong>Projekt C</strong> na opravilu <strong>b</strong> v času <strong>dd.mm.yyyy - dd.mm.yyyy</strong>.
      </div>
    </li>
  </ul>
  <div>Ana Pevec:</div>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <strong>Projekt A</strong> na opravilu <strong>a</strong> v času <strong>dd.mm.yyyy - dd.mm.yyyy</strong>.
      </div>
    </li>
  </ul>
</div>

views/test.pug
html
  head
  body
    #collapseAddTask.multi-collapse.task-collapse.collapse.show(style='', data-select2-id='collapseAddTask')
      .row.d-flex.justify-content-end
        button.close.mr-4(type='button', aria-label='Close', onclick='closeCollapseNewTaskAbsence(85)')
          span(aria-label='true') x
      form#editTaskform(role='form', method='post', data-select2-id='editTaskform')
        .form-row
          .col-md-6
            .form-group
              label(for='taskNameAdd', style='width:100%;') Ime opravila
                input#taskNameAdd.form-control(type='text', name='taskNameAdd', required='')
          .col-md-6
            .form-group
              label(for='taskDurationAdd', style='width:100%;') Število dni
                input#taskDurationAdd.form-control(type='number', name='taskDurationAdd', min='0')
        .form-row
          .col-md-6
            .form-group
              label(for='taskStartAdd', style='width:100%;') Začetek opravila
                input#taskStartAdd.form-control(type='date', name='taskStartAdd')
                .valid-feedback Začetek opravila je po začetku projekta
                .invalid-feedback Začetek opravila je pred začetkom projekta!
          .col-md-6
            .form-group
              label(for='taskFinishAdd', style='width:100%;') Konec opravila
                input#taskFinishAdd.form-control(type='date', name='taskFinishAdd')
                .valid-feedback Konec opravila je pred koncem projekta
                .invalid-feedback Konec opravila je po koncu projekta!
        .form-row
          .col-md-6
            .form-group
              label(for='taskCompletionAdd', style='width:100%;') Dokončano
                input#taskCompletionAdd.form-control(type='number', name='taskCompletionAdd', min='0', max='100', required='')
          .col-md-6
            .form-group
              label(for='taskAssignmentAdd', style='width:100%;') Dodeli opravilo
                select#taskAssignmentAdd.custom-select.mr-sm-2.form-control.select2-workersAdd(name='worker', style='width:100%;')
        .form-row
          .col-md-6
            .form-group
              label(for='taskCategoryAdd', style='width:100%;') Kategorija
                select#taskCategoryAdd.custom-select.mr-sm-2.form-control.select2-taskCategoryAdd(name='worker', style='width:100%;')
          .col-md-6
            .form-group
              label(for='taskPriorityAdd', style='width:100%;') Prioriteta
                select#taskPriorityAdd.custom-select.mr-sm-2.form-control.select2-taskPriorityAdd(name='worker', style='width:100%;')
        .text-center
          button#btnAddTask.btn.btn-success.mt-1.mb-1(type='submit') Dodaj

ul.list-group
  li.list-group-item.d-flex.justify-content-between.align-items-center Cras justo odio
    span.badge.badge-primary.badge-pill 14
  li.list-group-item.d-flex.justify-content-between.align-items-center Dapibus ac facilisis in
    span.badge.badge-primary.badge-pill 2
  li.list-group-item.d-flex.justify-content-between.align-items-center Morbi leo risus
    span.badge.badge-primary.badge-pill 1
